@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@font-face {
  font-family: 'BroncoPersonalUse';
  src: url(./Fonts/BroncoPersonalUse.ttf);
}

@font-face {
  font-family: 'CarnivaleeFreakshow';
  src: url(./Fonts/CarnivaleeFreakshow-DLrm.ttf);
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-4 mb-4
    mx-auto shadow-lg bg-gray-600 text-green-500 hover:bg-green-500
    hover:text-white rounded-3xl hover:rounded-xl transition-all duration-200
    ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 text-xs font-bold transition-all duration-100
    scale-0 origin-left;
  }

  .rowdy {
    @apply px-2 md:px-4 lg:px-6 mx-auto;
  }

  .icons {
    @apply w-12 h-12 md:w-24 md:h-24 mx-2 md:mx-4 md:hover:scale-125 hover:scale-110 ease-in duration-200 cursor-pointer;
  }

  .artist {
    @apply flex h-screen w-full bg-secondary bg-contain bg-center bg-no-repeat items-center justify-center;
  }
}
